  body {
      font-family: Arial, sans-serif;
      background: #f4f6f8;
  }

  .container {
      max-width: 1100px;
      margin: 0px auto;
      padding: 20px;
  }

  .header {
      margin-bottom: 25px;
  }

  .header h1 {
      margin: 0;
  }

  .header p {
      color: #666;
      margin-top: 5px;
  }


  h2 {
      margin-bottom: 10px;
  }

  form {
      margin-bottom: 20px;
  }

  /*
  .cards {
      display: flex;
      gap: 20px;
      margin-bottom: 40px;
  }

  .card {
      flex: 1;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
  }

  .card h3 {
      color: #555;
      margin-bottom: 10px;
  }
      */

  .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      margin-bottom: 30px;
  }

  .card {
      background: #f8f9fa;
      padding: 25px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }

  .card h3 {
      font-size: 18px;
      margin: 0;
      color: #121518;
  }


  .card span {
      font-size: 32px;
      font-weight: bold;
  }

  /*
  .charts {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
  }

  .chart-box {
      flex: 1;
      min-width: 450px;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
  }
      */

  .charts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 25px;
  }

  .chart-box {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }


  a {
      display: inline-block;
      margin-bottom: 20px;
  }

  .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
  }

  .filter input, .filter button {
      padding: 8px;
  }

  .actions {
      display: flex;
      gap: 10px;
  }

  .btn {
      padding: 10px 15px;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
      color: white;
  }

  .btn-primary {
      background: #1976d2;
  }

  .btn-danger {
      background: #d32f2f;
      color: #fff;
      padding: 8px 14px;
      border-radius: 6px;
      text-decoration: none;
  }

  .btn-info {
      background: hsl(180, 4%, 42%);
  }

  .btn:hover {
      opacity: 0.9;
  }

  /*** MOBILE ***/

  @media (max-width: 768px) {

      h2 {
          font-size: 20px;
          text-align: center;
      }

      .btn-info {
          width: 100%;
          margin-bottom: 10px;
          text-align: center;
      }

      table th,
      table td {
          font-size: 13px;
          padding: 6px;
      }

      .pagination {
          flex-wrap: wrap;
          gap: 4px;
      }

      .footer-content {
          flex-direction: column;
          gap: 6px;
          text-align: center;
      }
  }

  @media (max-width: 768px) {
      .modal-content {
          width: 95%;
          max-height: 90vh;
          overflow-y: auto;
      }
  }

  @media (max-width: 768px) {
      .toast-success {
          width: 90%;
          left: 5%;
          transform: none;
          text-align: center;
      }
  }

  /*
  @media (max-width: 768px) {

      button,
      .btn {
          width: 100%;
          min-height: 44px;
          font-size: 15px;
      }

  }*/

  @media (max-width: 768px) {

      button,
      .btn {
          /* width: 100%; */
          min-height: 44px;
          font-size: 15px;
      }

  }

  @media (max-width: 768px) {

      .btn {
          font-size: 13px;
          padding: 10px 14px;
          width: auto;
          /* importante */
      }

  }

  @media (max-width: 768px) {

      .actions {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
      }

      .actions .btn {
          flex: 1 1 25%;
          text-align: center;
          font-size: 14px;
          padding: 10px;
      }
  }